#topBar {
	height: 90px;
	max-width: 100vw;
	background: white;
	box-shadow: 0 1px 3px black;
}

.navLink {
	font-size: x-large;
	transition: 0.25s;
	color: rgba(50, 50, 50, 0.7);
}

.navLink:hover {
	color: white;
	text-shadow: 0 0 3px black;
	text-decoration: none;
}

#edu {
	cursor: pointer;
}

@media only screen and (max-width: 850px) {
	#edu {
		font-size: 8.5vw;
	}
	#navCont {
		display: none;
	}
	#topBar {
		height: 60px;
	}
}

@media only screen and (max-width: 1000px) and (min-width: 700px) {
	#edu {
		font-size: 5.5vw;
		margin-right: 40px;
	}
}
