body {
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar {
	display: none;
}

#overlay {
	position: fixed;
	height: 100vh;
	width: 100vw;
	display: none;
	z-index: 3;
	backdrop-filter: blur(1.5px);
	animation: blr 1s;
}

@keyframes blr {
	from {
		backdrop-filter: blur(0);
	}
	to {
		backdrop-filter: blur(1.5px);
	}
}
