body {
	margin: 0;
	padding: 0;
	background-color: rgb(247, 247, 247);
}

::-webkit-scrollbar {
	display: none;
}

#overlay {
	position: fixed;
	height: 100vh;
	width: 100vw;
	display: none;
	z-index: 3;
	backdrop-filter: blur(1.5px);
	animation: blr 1s;
}

@keyframes blr {
	from {
		backdrop-filter: blur(0);
	}
	to {
		backdrop-filter: blur(1.5px);
	}
}

#message {
	position: fixed;
	bottom: 8px;
	right: 8px;
	min-height: 10vh;
	max-width: 40vw;
	min-width: 25vw;
	padding: 6px;
	background-color: rgba(0, 20, 20, 0.6);
	display: none;
	animation: msg 10s;
	border-radius: 4px;
}

@keyframes msg {
	0% {
		opacity: 0;
	}
	5% {
		opacity: 1;
	}
	82% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
