#entry {
	height: 95%;
	width: 100%;
	overflow-y: auto;
	box-shadow: 0 1px 4px black;
}

#desc {
	max-width: 100%;
	white-space: pre-wrap;
}

#details {
	float: right;
}

@media only screen and (max-width: 550px) {
	#details {
		/* float: none; */
		width: 100%;
		text-align: right;
	}
}
