#main {
	height: calc(100vh - 130px);
	width: 100%;
	flex-direction: row;
	/* margin-bottom: 10vh; */
}

@media only screen and (max-width: 950px) {
	#main {
		height: calc(100vh - 105px);
		flex-direction: column;
		align-items: center;
	}
}
