#overlaymain {
	position: fixed;
	left: 20vw;
	top: 10vh;
	width: 60vw;
	height: 80vh;
	max-height: 125vw;
	z-index: 2;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 2vw;
	box-shadow: 0 0 6px black;
	animation-name: anim;
	animation-duration: 0.3s;
}

#overlaymain form {
	width: 95%;
}
p {
	/* margin-right: 0; */
	margin-right: -10px;
}

@keyframes anim {
	from {
		top: -10vh;
		height: 0;
		opacity: 0;
	}
	to {
	}
}

#unmount {
	position: absolute;
	left: 10vw;
	top: 10vh;
	width: 80vw;
	height: 80vh;
	max-height: 110vw;
	z-index: 2;
	overflow: auto;
	padding: 2vw;
	animation-name: anim2;
	animation-duration: 0.4s;
}

@keyframes anim2 {
	from {
	}
	to {
		opacity: 0;
		height: 0;
		top: -10vh;
	}
}

#cross {
	position: absolute;
	right: 5px;
	top: 5px;
	background-color: transparent;
	border: none;
	transition: color 0.2s, text-shadow 0.2s;
	z-index: 1;
}

#cross:hover {
	color: red;
	text-shadow: 0 0 2px green;
}

#submit {
	margin-top: 8px;
	margin-bottom: 20px;
	width: auto;
}
.form {
}

#spinnerCont {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

@media only screen and (max-width: 900px) {
	#overlaymain {
		width: 84vw;
		left: 8vw;
	}
}
