#qBtnsCont {
	height: calc(100% - 45px);
}

.btns:active {
	/* background-color: lightblue; */
	font-size: large;
	color: white;
	box-shadow: 0 0 4px black;
}

@media only screen and (max-width: 950px) {
	#qBtnsCont {
		display: flex;
		flex-direction: row;
		overflow-x: auto;
		overflow-y: hidden;
		align-items: center;
	}
}
