#questionMain {
	position: relative;
	display: inline-block;
	border-radius: 5px;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: red;
	width: 60vw;
	height: stretch;
	box-shadow: 0 0 4px black;
}

.qno {
}

.qtext {
}

.rightpannel {
	float: right;
}

.marksinp {
	display: inline;
	min-width: 30px;
	max-width: 50px;
	margin-right: 25px;
}

.choicesCont {
	flex-direction: row;
}

.choices {
	display: inline;
	/* width: 65%; */
}

.choicesLabel {
	min-width: 110px;
}

.ansInp {
	width: 25%;
	min-width: 200px;
}

#desc {
	text-align: center;
	font-size: large;
}

@media only screen and (max-width: 950px) {
	#questionMain {
		width: stretch;
	}
	.qno {
		font-size: 7.5vw;
	}

	.choicesCont {
		flex-direction: column;
	}

	.choices {
		position: relative;
		width: stretch;
		left: 20px;
		bottom: 15px;
	}
	.ansInp {
		position: relative;
		display: block;
		left: 22px;
		width: stretch;

		margin-right: 25px;
	}
}
