#sidebarMain {
	display: inline-block;
	width: 20vw;
	height: stretch;
	border-radius: 5px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #8f94fb;
}

#sideHead {
	font-size: xx-large;
}

#addBtn {
	/* background-color: transparent; */
	border: none;
	float: right;
	transition: 0.3s;
	font-size: xx-large;
	color: white;
	margin: 3px;
}

#addBtn:hover {
	transform: scale(1.1);
}

@media only screen and (max-width: 950px) {
	#sidebarMain {
		width: 98%;
		height: auto;
		min-height: 120px;
		max-height: 25vh;
		margin-bottom: 4px;
		overflow-y: auto;
		overflow-x: hidden;
	}
}
